<h2>Medicine-あなたにあった最適なお薬の受け取り</h2>

<% if user_signed_in? %>


<% else %>
<!--#ログアウト-->
    <div>
         <%= link_to "ログイン", new_user_session_path %>
    </div>
    <div>
        <%= link_to "新規登録", new_user_registration_path %>
    </div>
    <div>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post %>
    </div>
    <div>
        <%= link_to "管理者ログイン", new_admin_session_path, method: :get %>
    </div>

<% end %>