<h2>プロフィール編集画面</h2>


<%= form_with model: @user do |f| %>
  <div class="user-name">Nickname</div>
    <%= f.text_field :nickname %>
    
  <div class="user-edit-image">Image</div>
    <%= f.file_field :profile_image, accept: "image/*" %>
   
    
 
    
  <div class="upload">
    <%= f.submit " Update User" %>
    
  </div>
<% end %>